body{
    background-color: lightpink;
  }
  h1{
    color: white;
    background-image:url("images/banniere.jpg");
    background-position: center;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red; 
    filter: grayscale(0.5); 
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    

  }

  h4{
    padding-left: 32px;
    color: red;
  }
  footer{
    color: gray;
  }